services:
  db:
    image: postgres:16
    container_name: assignment_db
    restart: always
    environment:
      POSTGRES_USER: postgres.huheqgiwiufsgtplqwce
      POSTGRES_PASSWORD: ${PASSWORD}
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres.huheqgiwiufsgtplqwce -d postgres"]
      interval: 5s
      timeout: 5s
      retries: 5

  api:
    build: .
    container_name: assignment_api
    ports:
      - "8000:8000"
    environment:
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      db:
        condition: service_healthy

volumes:
  pgdata: